<?php

declare(strict_types=1);

/*
 * This file is part of the monorepo package.
 *
 *     (c) Anthonius Munthi <https://itstoni.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

$header = <<<'EOF'
This file is part of the monorepo package.

    (c) Anthonius Munthi <https://itstoni.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
EOF;

if (!file_exists(__DIR__.'/src')) {
    exit(0);
}

$finder = \Symfony\Component\Finder\Finder::create();

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony'                           => true,
        '@Symfony:risky'                     => true,
        '@PHPUnit60Migration:risky'          => true,
        'php_unit_no_expectation_annotation' => false, // part of `PHPUnitXYMigration:risky` ruleset, to be enabled when PHPUnit 4.x support will be dropped, as we don't want to rewrite exceptions handling twice
        'array_syntax'                       => ['syntax' => 'short'],
        'protected_to_private'               => false,
        '@PSR1'                              => true,
        '@PSR2'                              => true,
        'declare_strict_types'               => true,
        'align_multiline_comment'            => true,
        'ordered_imports'                    => ['sortAlgorithm' => 'alpha'],
        'header_comment'                     => ['header' => $header],
        'heredoc_to_nowdoc'                  => true,
        'ordered_class_elements'             => ['sortAlgorithm' => 'alpha'],
        'method_separation'                  => true,
        'no_extra_blank_lines'               => ['tokens' => ['break', 'continue', 'extra', 'return', 'throw', 'use', 'parenthesis_brace_block', 'square_brace_block', 'curly_brace_block']],
        'blank_line_before_statement'        => true,
        'fully_qualified_strict_types'       => false,
        'void_return'                        => false,

        // Symfony overwritings
        'binary_operator_spaces' => [
            'align_double_arrow' => true,
            'align_equals'       => true,
        ],
    ])
    ->setRiskyAllowed(true)
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__.'/src')
            ->in(__DIR__.'/tests')
            ->notPath('var')
            ->append([
                __FILE__,
                __DIR__.'/bin/monorepo',
            ])
            ->exclude([
                'var',
                'config',
                'build',
                'fixtures',
            ])
    )
;
